h1, h3{
 background-color: chartreuse;
 text-align: center;
}
h2{
    background-color: black;
    color: chartreuse;
    text-align: center;
}
p{
    background-color: black;
    color:chartreuse;
    text-align: center;
}
a {
    display: block; 
    text-align: center; 
    background-color: chartreuse;
    color: black;
    width: fit-content; 
    margin: 0 auto; 
    padding: 0px; 
}

h4{
    text-align: center;
    background-color: chartreuse;
    color: black;
}
body{
    background-color: #50C878
}
